.markdown {
  position: relative;
  letter-spacing: .05em;
  font-size: 1rem;
  text-overflow: ellipsis;
  word-wrap: break-word;
  //font-family: "techo/font/han.otf", Georgia-Italic, STSongti-SC-Light, serif;
}

@media (min-width: 992px) {
  .markdown {
    font-size: 0.9rem
  }
}

@media (min-width: 1600px) {
  .markdown {
    font-size: 1.1rem
  }
}

.markdown {
  a {
    color: #2275da;
    &:link, &:visited {
      color: #2275da !important;
      text-decoration: none !important
    }
    &:hover {
      text-decoration: underline !important;
      color: #404040 !important;
      color: var(--primary) !important
    }
    .mention-floor {
      color: #60b566 !important;
      margin-right: 3px
    }
    .mention {
      font-weight: 700;
      margin-right: 2px
    }
    .mention b {
      font-weight: 400;
      color: #666 !important;
      color: var(--secondary) !important
    }
    .at_floor {
      color: #60b566 !important
    }
    .at_user, .user-mention {
      color: #0069d6 !important
    }
  }
  iframe, img {
    max-width: 100%;
    border: 0;
    border-radius: 8px
  }
  blockquote, hr, ol, p, pre, ul {
    margin-bottom: 1.2em
  }
  blockquote, hr, ol, p, pre, ul {
    margin-bottom: 1.2em;
    &:last-child {
      margin-bottom: 0
    }
  }
  p {
    line-height: 1.4rem
  }
  hr {
    border: 3px dashed #f2f2f2;
    border: 3px dashed var(--gray);
    border-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    width: 50%
  }
  blockquote {
    margin: 25px 10px;
    padding: 0 0 0 32px;
    border: 0;
    quotes: "â€œ" "â€" "â€˜" "â€™";
    position: relative;
    line-height: 1.45;
    &:after, &:before {
      display: block;
      content: "\201C";
      font-size: 2.8em;
      position: absolute;
      font-family: serif;
      left: 0;
      top: -10px;
      color: #ccc
    }
    p {
      display: inline;
      color: grey
    }
  }
  pre {
    font-family: Menlo, Monaco, Consolas, Courier New, monospace;
    background-color: #f6f8fa;
    border: 0;
    font-size: .9em;
    margin-left: -20px;
    margin-right: -20px;
    margin-top: 0;
    padding: 15px 20px;
    color: #444;
    overflow: auto;
    border-radius: 0;
    &::-webkit-scrollbar {
      height: 8px;
      width: 8px
    }
    &::-webkit-scrollbar-thumb:horizontal {
      width: 20px;
      background-color: #ccc;
      background-color: var(--scrollbar-thumb-color);
      -webkit-border-radius: 4px
    }
    &::-webkit-scrollbar-track-piece {
      margin-bottom: 10px;
      background-color: #e5e5e5;
      background-color: var(--scrollbar-track-color);
      border-bottom-left-radius: 4px 4px;
      border-bottom-right-radius: 4px 4px;
      border-top-left-radius: 4px 4px;
      border-top-right-radius: 4px 4px
    }
    &::-webkit-scrollbar-thumb:vertical {
      height: 20px;
      background-color: #ccc;
      background-color: var(--scrollbar-thumb-color);
      -webkit-border-radius: 4px;
      -webkit-box-shadow: 0 1px 1px #fff
    }
    code {
      display: block;
      line-height: 150%;
      padding: 0 !important;
      font-size: 1em !important;
      background-color: transparent !important;
      border: none !important
    }
  }
  code {
    display: inline-block;
    font-size: .9em;
    background-color: #f2f2f2 !important;
    border: 0;
    color: #666 !important;
    color: var(--secondary) !important;
    padding: 0 8px !important;
    margin: 0 2px;
    border-radius: 3px;
    word-break: break-all
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px
  }
  h1 {
    font-size: 26px !important;
    text-align: center;
    margin-bottom: 30px !important
  }
  h2, h3, h4 {
    text-align: left;
    font-weight: 700;
    font-size: 16px !important;
    line-height: 100%;
    color: #666;
    color: var(--secondary);
    margin: 0 0 20px
  }
  h3 {
    font-size: 18px !important
  }
  h5, h6 {
    font-size: 15px;
    line-height: 100%
  }
  h6 {
    font-size: 14px
  }
  ol, ul {
    list-style-type: square;
    margin-left: 1.3rem;
    padding: 0 20px
  }
  ol blockquote, ol p, ol pre, ul blockquote, ul p, ul pre {
    margin-bottom: 8px
  }
  ol li, ul li {
    line-height: 1.4em;
    padding: 2px 0
  }
  ol ul, ul ul {
    list-style-type: circle;
    margin-bottom: 0
  }
  ol {
    list-style-type: decimal
  }
  ol ol {
    list-style-type: lower-alpha;
    margin-bottom: 0
  }
  img {
    vertical-align: top;
    max-width: 100%;
    &.twemoji {
      width: 20px
    }
  }
  .zoom-image {
    cursor: zoom-in
  }
  code, pre {
    white-space: normal;
    background: rgba(0,0,0,0.8);
  }
  pre {
    color: #fff;
    code {
      background: transparent !important
    }
  }
}