#replies {
  margin-top: 20px;
  margin-bottom: 15px
}

#replies .card-body {
  padding-bottom: 10px
}

#replies .reply {
  margin: 0 -20px;
  position: relative;
  padding: 15px 15px 15px 70px;
  .avatar {
    position: absolute;
    left: 10px;
    top: 18px;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom: 0
  }
  &:nth-child(odd){
    background: rgba(0, 0, 0, .1)
  }
  &.light {
    background: rgba(247, 242, 252, .58)
  }
  &.popular {
    background: rgba(255, 0, 0, .02)
  }
  .content {
    min-height: 48px;
    font-size: 15px;
    .reply-header {
      .meta {
        max-width: 100%;
        display: inline-flex;
      }
      .reaction {
        position: absolute;
        top: 18px;
        right: 30px;
      }
    }
    .reply-body{
      font-size: 1rem;
      line-height: 1.8rem;
      p {
        margin: 0.4rem 0;
      }
      pre {
        border-radius: 6px;
        margin-right: 0;
        margin-left: 0
      }
    }
    .reply-footer{
      margin-bottom: 0.8rem;
      a {
        color:rgba(0, 0, 0, 0.4);
        font-size: 0.9em;
        &:hover, &:visited{
          text-decoration: none;
        }
      }
    }
    .comments {
      .reply-child {
        margin: .4rem 0;
        .meta {
          color: #403f3f;
          margin-left: 3px;
        }
        .time{
          font-size: 0.8rem;
        }
        .reply-body {
          color: #403f3f;
          font-size: 0.85rem;
          margin-left: 30px;
        }
        .reply-footer {
          margin-left: 30px;
        }
      }
    }
  }
}

@media (min-width: 1026px) {
  #replies .reply .hideable {
    display: none
  }
}

#replies .reply:hover .hideable {
  display: inline-block
}

@media (max-width: 480px) {
  #replies .reply {
    padding: 10px 10px 10px 58px
  }

  #replies .reply .avatar {
    left: 16px
  }
}