
.mt-10 {
  margin-top: 20px !important;
}
.avatar-48 {
  width: 48px;
}

.label-awesome {
  font-size: 1.1rem;
  background: rgba(255,204,139,.14);
  border: 0;
  padding: 15px 25px;
  color: #eb5424;
  color: var(--red);
}