
.backlist-sidebar {
  ul, ol {
    padding: 5px 0 5px 5px;
    list-style: none;
  }
  ul li ol {
    padding: 5px 0 5px 10px;
    display: none;
  }
  .active ol {
    display: block;
  }
  a {
    color: #212529;
    &:active, &:hover {
      color: #2275da;
      //text-decoration: none !important;
    }
  }
}

.book-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  .book-item {
    width: calc(20% - 1.5em);
    margin: 0 0.5rem 1rem 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    @include media-breakpoint-down(md) {
      width: calc(50% - 1.5em);
      margin: 0.5rem;
    }
    a {
      &:hover, &:visited {
        text-decoration: none;
      }
      .card-body {
        padding: 15px;
        .card-title {
          margin-bottom: 0;
        }
      }
    }
  }
}

.book-detail {
  .card {
    .card-header {
      img.rounded-circle {
        width: 8rem;
      }
    }
  }
}

/** @ 图书目录 */
ol.sorted_table {
  position: relative;
  border-radius: .2307em;
  i.icon.move-handler {
    cursor: move !important;
    margin-top: -19px
  }
  li.placeholder {
    display: block;
    background: red;
    position: relative;
    margin: 0;
    padding: 0 !important;
    border: none;
    &:before {
      content: "" !important;
      position: absolute;
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-left-color: red;
      margin-top: -5px;
      left: -5px;
      border-right: none
    }
  }
  .dragged {
    position: absolute !important;
    opacity: .9;
    z-index: 2000
  }
}

.tree {
  padding: 0;
  margin: 0 0 9px;
  ol {
    padding: 0;
    margin: 0 0 9px 18px
  }
  li.item {
    list-style: none;
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #eaf1f5;
    color: #08c;
    line-height: 24px
  }
}